
@{
    ViewBag.Title = "Contact";
}

<h2>Contact Us</h2>

    <form action="" method="post" class="active">
        <label>Name</label><br />
        <input type="text" name="Name" class="container" />
        <br /><br />
        <label>Email</label><br />
        <input type="email" name="Email" class="container" />
        <br /><br />
        <label>Phone</label><br />
        <input type="number" name="Phone" class="container"/>
        <br /><br />
        <label>Any Query</label><br />
        <input type="text" name="Query" class="container"/>
        <br /><br />
        <input type="button" value="Submit" class="btn btn-primary"/>
        
    </form>


